{% extends 'layout.html' %}
{% block main %}
<div class="table">
    <h3>内容修改 - {{content.title}}</h3>
    <form action="" method="POST">
            <div class="addName">
                    <label for="title">标题：</label>
                    <select name="category" id="category">
                        {% for category in categories %}
                        {% if content.category._id.toString() == category._id.toString() %}
                        <option value="{{category.id}}" selected>{{category.name}}</option>
                        {% else %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
    <div class="addName">
        <label for="title">标题：</label>
        <input type="text" value="{{content.title}}" id="title" placeholder="请输入分类名称" name="title">
    </div>
    <div class="addName">
            <label for="description">内容简介：</label>
            <textarea name="description" id="description" rows="5" placeholder="请输入内容简介">{{content.description}}</textarea>
        </div>
        <div class="addName">
                <label for="content">内容：</label>
                <textarea name="content" id="content" rows="10" placeholder="请输入内容">{{content.content}}</textarea>
            </div>
    <button type="submit" id="submit">提交</button>
</form>
</div>
{% endblock%}