*{
    margin: 0;
    padding: 0;
}
html,body{
    cursor: url('../images/sb3.png'),default;
}
li{
    list-style: none;
}
.clear{
    clear: both;
}
header .banner img{
    width: 100%;
}
.box{
    background: url(../images/saber-bg.jpg) no-repeat;
    background-attachment: fixed;
}
.content{
    width: 1200px;
    min-height: 700px;
    margin: 0 auto;
    
}
.blog-left{
    float: left;
    width: 750px;
}
.blog-right{
    float: right;
    width: 300px;
}
.login{
    display: none;
}
.blog-right{
    /* background-color: #efefef; */
    box-shadow: 1px 1px 5px #efefef;
    padding: 10px 0 10px 0px;
}
.blog-right p{
    padding-left: 20px;
    margin-top: 10px;
}
#lgout{
    display: inline-block;
    line-height: 30px;
    width: 160px;
    text-align: center;
    background-color: skyblue;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
}
#thx a{
    color: skyblue;
    text-decoration: none;
}
.tle{
    text-align: center;
    margin-bottom: 10px;
}
label{
    display: inline-block;
    width: 70px;
}
input{
    height: 20px;
    border-radius: 5px;
    border: 1px solid skyblue;
    outline: 0;
    padding-left: 5px;
}
.register div{
    margin-top: 5px;
}
.gotoBtn{
    display: block;
    margin: 10px auto 0;
    width: 150px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    background-color: skyblue;
}
.tip{
    color: skyblue;
    font-size: 15px;
    padding-left: 75px!important;
}
.tip a{
    color: skyblue;
}
.login div{
    margin-top: 5px;
}
.mean{
    background-color: #ffffff;
    box-shadow: 1px 1px 1px #efefef;
    line-height: 35px;
    text-align: center;
}
.mean a{
    display: inline-block;
    text-decoration: none;
    color: skyblue;
    padding-left: 3px;
    padding-right: 3px;
}
.mean a:hover{
    border-bottom: 1px solid aqua;
}
.active{
    border-bottom: 1px solid aqua;
}
.viewList{
    height: 300px;
    box-shadow: 1px 1px 1px 1px #efefef;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}
.pageList{
    margin-top: 50px;
    text-align: center;
}
.pageList li{
    display: inline-block;
    color: #1fbd57;
    padding-left: 5px;
    padding-right: 5px;
}
.pageList li a{
    color: #1fbd57;
    text-decoration: none;
}
.viewList h1{
    padding-left: 10px;
    color: #ffffff;
}
.viewList .read{
    text-decoration: none;
    padding: 6px 10px;
    font-size: 16px;
    background-color: skyblue;
    border-radius: 3px;
    color: aqua;
    position: absolute;
    top: 80%;
    left: 10px;
}
.viewList p{
    padding-left: 10px;
    line-height: 30px;
    font-size: 20px;
    color: #ffffff;
}
.view{
    margin-top: 20px;
    background-color: rgba(255,255,255,0.7);
}
.view h1{
    text-align: center;
}
.view main{
    margin-top: 95px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 0px 20px 20px;
}
.comment{
    height: 60px;
    background-color: rgba(255,255,255,0.7);
    margin-top: 10px;
}
.comment [type="text"]{
    width: 650px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.comment button{
    width: 60px;
    height: 40px;
    outline: 0;
    border: 1px solid skyblue;
    border-radius: 3px;
    background-color: skyblue;
    color: #ffffff;
    font-size: 18px;
}
.msgList{
    background-color: rgba(255,255,255,0.7);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.msgHtml{
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
}
.msgName{
    color: skyblue;
    font-size: 22px;
}
.msgCon{
    color: cadetblue;
    font-size: 22px;
    line-height: 30px;
    word-wrap: break-word;
}